Selecciona las columnas DisplayName, Location y Reputation de los usuarios con mayor
 reputación. Ordena los resultados por la columna Reputation de forma descendente y
 presenta los resultados en una tabla mostrando solo las columnas DisplayName,
 Location y Reputation.

In [ ]:
SELECT top 10 DisplayName, Location, Reputation 
FROM Users 
ORDER BY Reputation DESC

 Selecciona la columna Title de la tabla Posts junto con el DisplayName de los usuarios
 que lo publicaron para aquellos posts que tienen un propietario.
 Para lograr esto une las tablas Posts y Users utilizando OwnerUserId para obtener el
 nombre del usuario que publicó cada post. Presenta los resultados en una tabla
 mostrando las columnas Title y DisplayName

In [ ]:
SELECT Posts.Title, Users.DisplayName
FROM Posts
JOIN Users ON Posts.OwnerUserId = Users.Id;

Encuentra el DisplayName de los usuarios que han realizado más de 100 comentarios
 en total. Para esto utiliza una subconsulta para calcular el total de comentarios por
 usuario y luego filtra aquellos usuarios que hayan realizado más de 100 comentarios en
 total. Presenta los resultados en una tabla mostrando el DisplayName de los usuarios

In [ ]:
SELECT Users.DisplayName, AVG(Posts.Score) AS PromedioScore
FROM Users
JOIN Posts ON Users.Id = Posts.OwnerUserId
GROUP BY Users.DisplayName;
 
SELECT Users.DisplayName
FROM Users
WHERE Users.Id IN (
    SELECT OwnerUserId
    FROM Comments
    GROUP BY OwnerUserId
    HAVING COUNT(*) > 100
)

el correcto 
SELECT Users.DisplayName
FROM Users
WHERE Users.Id IN (
    SELECT UserId
    FROM Comments
    GROUP BY UserId
    HAVING COUNT(*) > 100
)

Actualiza la columna Location de la tabla Users cambiando todas las ubicaciones vacías
 por "Desconocido". Utiliza una consulta de actualización para cambiar las ubicaciones
 vacías. Muestra un mensaje indicando que la actualización se realizó correctamente.

In [ ]:
SELECT COUNT(*) FROM Users WHERE Location IS NULL OR Location = '';


UPDATE Users
SET Location = 'Desconocido'
WHERE Location IS NULL OR Location = '';

 Elimina todos los comentarios realizados por usuarios con menos de 100 de reputación.
 Utiliza una consulta de eliminación para eliminar todos los comentarios realizados y
 muestra un mensaje indicando cuántos comentarios fueron eliminados

In [ ]:
SELECT COUNT(*)
FROM Comments
WHERE OwnerUserId IN (
    SELECT Id FROM Users WHERE Reputation < 100
);

DELETE FROM Comments
WHERE OwnerUserId IN (
    SELECT Id FROM Users WHERE Reputation < 100
);

 Paracada usuario, muestra el número total de publicaciones (Posts), comentarios
 (Comments) y medallas (Badges) que han realizado. Utiliza uniones (JOIN) para combinar
 la información de las tablas Posts, Comments y Badges por usuario. Presenta los
 resultados en una tabla mostrando el DisplayName del usuario junto con el total de
 publicaciones, comentarios y medallas

In [ ]:
WITH PostCounts AS (
    SELECT TOP 1000 OwnerUserId, COUNT(*) AS PostCount
    FROM Posts
    GROUP BY OwnerUserId
),
CommentCounts AS (
    SELECT TOP 1000 UserId, COUNT(*) AS CommentCount
    FROM Comments
    GROUP BY UserId
),
BadgeCounts AS (
    SELECT TOP 1000 UserId, COUNT(*) AS BadgeCount
    FROM Badges
    GROUP BY UserId
)
SELECT TOP 100
    u.DisplayName,
    ISNULL(p.PostCount, 0) AS TotalPosts,
    ISNULL(c.CommentCount, 0) AS TotalComments,
    ISNULL(b.BadgeCount, 0) AS TotalBadges
FROM Users u
LEFT JOIN PostCounts p ON u.Id = p.OwnerUserId
LEFT JOIN CommentCounts c ON u.Id = c.UserId
LEFT JOIN BadgeCounts b ON u.Id = b.UserId
ORDER BY (ISNULL(p.PostCount, 0) + ISNULL(c.CommentCount, 0) + ISNULL(b.BadgeCount, 0)) DESC

Muestra las 10 publicaciones más populares basadas en la puntuación (Score) de la
 tabla Posts. Ordena las publicaciones por puntuación de forma descendente y
 selecciona solo las 10 primeras. Presenta los resultados en una tabla mostrando el Title
 de la publicación y su puntuación

In [ ]:
SELECT top 10 Title, Score
FROM Posts
ORDER BY Score DESC

Muestra los 5 comentarios más recientes de la tabla Comments. Ordena los comentarios
 por fecha de creación de forma descendente y selecciona solo los 5 primeros. Presenta
 los resultados en una tabla mostrando el Text del comentario y la fecha de creación

In [ ]:
SELECT to 10 Text, CreationDate
FROM Comments
ORDER BY CreationDate DESC